<h1>Yours article</h1>

	<h2><%= @artic.title %></h2>	
	<p><%= @artic.text %></p>
	<p><%= @artic.created_at %></p>

<h2>Comments</h2>



<% @artic.comments.each do |thing| %>
	<hr>
	<h3><%= thing.author %></h3>	
	<p><%= thing.body %></p>
	<hr>
<% end %>

<%= form_for([@artic, @artic.comments.build]) do |f| %>
	<p>
		<%= f.label :author %> <br>
		<%= f.text_field :author %>
	</p>

	<p>
		<%= f.label :body %> <br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit 'comment' %>
	</p>
<% end %> 